<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @photo.product %>
</p>

<%= link_to 'Edit', edit_product_photo_path([@product, @photo]) %> |
<%= link_to 'Back', product_photos_path %>
